<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Olvidé mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wallpaper">
    <div class="wallpaper-opacity">
      <ion-card>
        <ion-card-content>
          <ion-img style="margin-bottom: 10px;" src="assets/icon/forgot password.png"></ion-img>
          <div style="color: black; font-size: 24px; color: white;">
            No te preocupes, a todos nos ha pasado
          </div>
          <div style="text-align: justify; margin: 10px 0px; color: white;">
            Te permite actualizar tu contraseña actual por una más segura, protegiendo tu cuenta.
          </div>
          <form [formGroup]="forgotPasswordForm">
            <ion-list style="background-color: transparent;">
              <ion-item class="loginForm">
                <ion-label position="floating">Usuario</ion-label>
                <ion-icon name="person-outline" fill="clear" slot="start"></ion-icon>

                <!-- <div style="display: flex; flex-direction: row;"> -->
                <ion-input (keypress)="validateUsername($event)" (input)="checkUsername()" formControlName="username"
                  maxlength="50"></ion-input>
                <!-- </div> -->

              </ion-item>
              <div style="display: flex; flex-direction: column; margin-left: 10px; margin-bottom: 5px;">
                <ion-note *ngIf="forgotPasswordForm.controls['username'].hasError('pattern')" slot="error">
                  {{ 'CHARACTER_NOT_ALLOWED' | translate }}
                </ion-note>
                <ion-note *ngIf="forgotPasswordForm.controls['username'].hasError('minlength')" slot="error">
                  {{ 'MIN_CHARACTER_REQUIRED' | translate }}
                </ion-note>
              </div>

              <ion-item class="loginForm">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-icon name="lock-closed-outline" fill="clear" slot="start"></ion-icon>
                <div style="display: flex; flex-direction: row;">
                  <ion-input (keypress)="validatePassword($event)" (input)="checkPassword()" formControlName="password"
                    [type]="passwordVisibility ? 'password' : 'text'" maxlength="20">
                  </ion-input>
                  <div fill="clear" (click)="showPassword()">
                    <ion-icon *ngIf="passwordVisibility === false" name="eye-outline"></ion-icon>
                    <ion-icon *ngIf="passwordVisibility === true" name="eye-off-outline"></ion-icon>
                  </div>
                </div>
              </ion-item>
              <div style="display: flex; flex-direction: column; margin-left: 10px;">
                <ion-note *ngIf="forgotPasswordForm.controls['password'].hasError('pattern')" slot="error">
                  {{ 'CHARACTER_NOT_ALLOWED' | translate }}
                </ion-note>
                <ion-note *ngIf="forgotPasswordForm.controls['password'].hasError('minlength')" slot="error">
                  {{ 'MIN_CHARACTER_REQUIRED' | translate }}
                </ion-note>
              </div>
            </ion-list>
          </form>

          <ion-button expand="full" shape="round" [disabled]="forgotPasswordForm.invalid"
            (click)="forgotPassword(forgotPasswordForm.value)" class="loginButton" color="primary">Cambiar contraseña
          </ion-button>

        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>