.justify-text {
  text-align: justify;
}

p {
  padding: 0 40px;
  font-size: 15px;
  line-height: 1.5;
  color: #60646b;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}