.registerForm {
  margin-bottom: 10px;
}

.register-text {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  // font-weight: bold;
}

.card-subtitle {
  font-size: 16px;
  color: white;
}

ion-card {
  margin: 0;
  overflow-y: scroll;
  // height: 100%;
  background: rgb(94, 33, 41, 0.5);
  // border-radius: 20px;
  height: 100%;
}

ion-card-title {
  padding: 10px;
  font-size: 31px;
  color: white;
}

ion-card-subtitle {
  text-align: center;
  //   font-size: 15px;
}

.border {
  color: rgb(0, 153, 255);
  text-shadow:
    -1px -1px 0 rgb(7, 7, 7),
    1px -1px 0 rgb(4, 4, 4),
    -1px 1px 0 rgb(3, 3, 3),
    1px 1px 0 rgb(1, 1, 1);
}

.wallpaper {
  // padding: 10px;
  height: 100%;
  background: url('../../../assets/icon/seleccion-futbol.jpeg') no-repeat fixed;
  background-position: 35% 50%;
  background-size: cover;
  color: #fff;
  position: relative;
}

.wallpaper-opacity {
  background: rgb(94, 33, 41, 0.8);
  height: 100%;
}

ion-item::part(native) {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
}

ion-icon {
  font-size: 35px;
  color: black;
}

ion-note {
  font-size: 15px;
  color: white;
}

p {
  font-size: 15px;
}