// .iconEye {
//   font-size: 24px;
//   vertical-align: middle;
// }

.loginButton {
  font-size: 15px;
}

.loginForm {
  margin-bottom: 10px;
}

.forgot-password {
  margin-bottom: 20px;
  text-align: end;
  color: white;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.register {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 15px;
}

.register-text {
  font-weight: bold;
  color: white;
  margin-left: 5px;
  background: rgb(198, 147, 16);
  border-radius: 20px;
  font-size: 15px;
  padding: 0 10px;
}

ion-card {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  overflow-y: scroll;
  height: 100%;
  background: rgb(94, 33, 41, 0.6);
  margin: 0;
  border-radius: 20px;
  // margin-top: auto;
}

.data-container {
  justify-content: center;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 10px 0;
}

.wallpaper {
  padding: 10px;
  height: 100%;
  background: url('../../../assets/icon/seleccion-futbol.jpeg') no-repeat fixed;
  background-position: 35% 50%;
  background-size: cover;
  color: #fff;
  position: relative;
}

ion-item::part(native) {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 20px;
}

ion-icon {
  font-size: 30px;
}

ion-note {
  font-size: 15px;
  color: white;
}