<ion-content>
  <div class="wallpaper">
    <ion-card>
      <ion-card-content>
        <div class="data-container" style="margin-bottom: 20px;">
          DataFUT
        </div>
        <ion-img src="assets/icon/Mobile login.png"></ion-img>
        <div class="data-container">
          Bienvenido
        </div>
        <div style="color: white; text-align: center; font-size: 15px; padding: 5px;">
          Inicia Sesión para continuar
        </div>
        <form [formGroup]="formularioLogin">
          <ion-list style="background-color: transparent;">
            <!-- <ion-item lines="none">
              <ion-input placeholder="This is placeholder text"></ion-input>
              <ion-icon name="trophy-outline" slot="start"></ion-icon>
            </ion-item> -->

            <ion-item class="loginForm" lines="none">
              <ion-label position="floating">Usuario</ion-label>
              <ion-icon name="person-outline" fill="clear" slot="start"></ion-icon>
              <!-- <div style="display: flex; flex-direction: row;"> -->
              <ion-input (keypress)="validateEmail($event)" (input)="checkEmail()" formControlName="username"
                maxlength="15"></ion-input>
              <!-- </div> -->

              <ion-note *ngIf="formularioLogin.controls['username'].hasError('pattern')" slot="error">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
              <ion-note
                *ngIf="formularioLogin.controls['username'].hasError('required') && formularioLogin.get('username')?.touched"
                slot="error">
                {{ 'REQUIRED' | translate }}
              </ion-note>
            </ion-item>

            <ion-item class="loginForm">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-icon name="lock-closed-outline" fill="clear" slot="start"></ion-icon>
              <div style="display: flex; flex-direction: row;">
                <ion-input (keypress)="validatePassword($event)" (input)="checkPassword()" formControlName="password"
                  [type]="passwordVisibility ? 'password' : 'text'" maxlength="20">
                </ion-input>
                <div (click)="showPassword()">
                  <ion-icon fill="clear" *ngIf="passwordVisibility === false" name="eye-outline"
                    slot="start"></ion-icon>
                  <ion-icon fill="clear" *ngIf="passwordVisibility === true" name="eye-off-outline"
                    slot="start"></ion-icon>
                </div>
              </div>

              <ion-note *ngIf="formularioLogin.controls['password'].hasError('pattern')" slot="error">
                {{ 'CHARACTER_NOT_ALLOWED' | translate }}
              </ion-note>
              <ion-note
                *ngIf="formularioLogin.controls['password'].hasError('required') && formularioLogin.get('password')?.touched"
                slot="error">
                {{ 'REQUIRED' | translate }}
              </ion-note>
            </ion-item>
          </ion-list>
        </form>

        <div class="forgot-password" [routerLink]="'/forgot-password'">
          <div style="background: rgb(198, 147, 16); border-radius: 20px; padding: 5px 15px;">
            ¿Olvidaste la contraseña?
          </div>
        </div>

        <ion-button shape="round" expand="full" [disabled]="formularioLogin.invalid"
          (keyup.enter)="login(formularioLogin.value)" (click)="login(formularioLogin.value)" class="loginButton"
          color="primary">Iniciar Sesión
        </ion-button>

        <div class="register">
          <div style="text-align: center; display: flex; flex-direction: column; justify-content: center;">¿No tienes
            una cuenta?</div>
          <div class="register-text" [routerLink]="'/register'">Regístrate</div>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>