<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wallpaper">
    <div class="wallpaper-opacity">
      <form [formGroup]="form">
        <div class="filter-form">
          <ion-item counter="true" fill="solid" class="filter">
            <ion-label position="floating" style="color: white;">Filtro</ion-label>
            <ion-input (ionChange)="applyFilter()" formControlName="filter"></ion-input>
          </ion-item>

          <ion-buttons style="margin-bottom: 10px;">
            <ion-button (click)="refreshList()" class="refresh-button" [disabled]="form.invalid">
              <ion-icon style="font-size: 1.5em; color: rgb(94, 33, 41);" name="refresh-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </form>

      <ion-card class="user-card" *ngFor="let user of users">
        <ion-card-content>
          <ion-row class="user-row">
            <ion-col size="12">
              <ion-row class="user-info-row">
                <ion-label class="user-fullname">{{ user.firstname }} {{ user.lastname }}</ion-label>
                <ion-buttons class="user-buttons">
                  <ion-button (click)="openModal(user.id)">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="deleteUser(user.id)">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-icon name="person" class="user-icon"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-row>
                <ion-label class="user-label"> {{ label.username }}: </ion-label>
                <ion-label class="user-email"> {{ user.username }}</ion-label>
              </ion-row>

              <ion-row>
                <ion-label class="user-label"> {{ label.profile }}: </ion-label>
                <ion-label class="user-email"> {{ user.profile.description }}</ion-label>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card class="user-card" *ngIf="users.length === 0">
        <ion-card-content>
          <ion-label> {{ 'NO_DATA' | translate }} </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>